
  <h1>You have attacked your opponent!</h1>

  <p><%= @new_game.player_1.name %>:  <%=@new_game.player_1.hit_points%> HP</p>
  <p><%= @new_game.player_2.name %>:  <%=@new_game.player_2.hit_points%> HP</p>

  <%if @new_game.attacker%>
  <form action="/attack_confirmation">
      <input type="submit" value="ATTACK <%=@new_game.player_1.name.upcase%>!">
  </form>
  <%else%>
  <form action="/attack_confirmation">
      <input type="submit" value="ATTACK <%=@new_game.player_2.name.upcase%>!">
  </form>
  <%end%>
