<h2><%= @new_game.player_1.name %> vs <%= @new_game.player_2.name %></h2>
<p><%= @new_game.player_1.name %>:  <%=@new_game.player_1.hit_points%> HP</p>
<p><%= @new_game.player_2.name %>:  <%=@new_game.player_2.hit_points%> HP</p>

<form action="/attack_confirmation">
    <input type="submit" value="ATTACK <%=@new_game.player_1.name.upcase%>!">
</form>
