<head>
  <style>
  body {
    height: 100%;
    width: 100%;
    background-image: url("http://www.trmk.org/images/mkarmageddon/MKA_MeteorStorm_Arena.jpg");
    bockground-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
  }
  </style>
</head>

<h2><%= @player_1_name %> vs <%= @player_2_name %></h2>
<p><%= @player_1_name %>:  <%=MAX_HEALTH%>/<%=MAX_HEALTH%> HP</p>
<p><%= @player_2_name %>:  <%=MAX_HEALTH%>/<%=MAX_HEALTH%> HP</p>
