<head>
  <style>
  body {
    height: 100%;
    width: 100%;
    background-image: url("http://images2.alphacoders.com/204/204780.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
  }
  </style>
</head>

<h2><%= @player_1_name %> vs <%= @player_2_name %></h2>
<p><%= @player_1_name %>:  <%=@player_1_HP%> HP</p>
<p><%= @player_2_name %>:  <%=@player_2_HP%> HP</p>

<form action="/attack_confirmation" method="post">
    <input type="submit" value="ATTACK!">
</form>
